<%- include('header') -%>

<nav class="homenavbar">
   <img src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png"  id="home-title" alt="">
<input type="search" placeholder="Search" results="0" id="searchbar-home" />
<div class="rightside">
<i class="fa-solid fa-house space" ></i>
<i class="fa-regular fa-paper-plane space"></i>
<a href="/posts/newpost">
<i class="fa-regular fa-square-plus space"></i>
</a>

<i class="fa-regular fa-compass space"></i>
<i class="fa-regular fa-heart"></i>


</div>

</nav>

<div class="stories-home">
    <h3>stories here</h3>

</div>




<% posts.forEach(post => { %> 
<div class="home-posts">

    <img src="<%=post.userimage%>" id="userimage-home" alt=""><span class="user-home" id="username-home"> <%=post.user%></span>
    <i class="fa-solid fa-ellipsis"></i>
    <br>
    <img src="<%=post.img%> " alt="" class="home-images">
    <br>
    <nav class="imagenav-home">
        <i class="fa-regular fa-heart"></i>
  <i class="fa-regular fa-comment"></i>
  <i class="fa-regular fa-paper-plane"></i>
  <span id="bookmark-home">
      <i class="fa-regular fa-bookmark"></i>
  </span>

    </nav>
  
<br>
<div class="leftcontent-home">
<h4 class="white-bg"><%=post.likes%> likes</h4>
    
    <p class="caption white-bg">
        <span class="user-home"><%=post.user%> </span>
<%=post.caption%> 

    </p>
</div>
<div>
    
    
</div>
    </div>
<%})%>




<%- include('footer') -%>
