<%- include('header') -%>

<%- include('navbar') -%>

<br>
<br>
<br>
<br>
<form action="/sessions?_method=DELETE" method="POST" >
			<input type="submit" value="Log Out" class="logout-btn"  id="logoutprofile"/>
		</form>
<div class="profile-header">
    <img src="<%=user.profileimage%>" alt="image of profile" id="profileimage">
<h1 id="username-greeting"> Hello! <b><%=user.username%> </b> </h1>
<a id="editprofilebutton" href="/posts/<%=user._id%>/editprofile"><button>Edit profile</button></a>
<!-- <p>You have <span id="length"></span> posts</p> -->
<p id="fullnameprofile"><%=user.fullname%></p>
<p id="userbio"><%=user.bio%></p>


</div>


<hr class="profile-hr">
<div class="cards">
    
 <% for (let i = posts.length - 1; i >= 0; i--) { %>
      <% if(user.username == posts[i].user){ %>
     
     
    <div class="cards__item">
        <a href="/posts/showpost/<%=posts[i]._id%>"><img src="<%=posts[i].img%>" alt="" id="profileimages"></a>
        <!--need to make this less long later on  -->

    </div>

    
<%}%>
<%}%>
</div>

<%- include('footer') -%>