<%- include('header') -%>

<%- include('navbar') -%>

  <div class="home-posts">
      <img src="<%=user.profileimage%>" id="userimage-home" alt="" /><span
        class="user-home"
        id="username-home"
      >
        <%=post.user%></span
      >

      <details>
        <summary><i class="fa-solid fa-ellipsis"></i></summary>
        <p>Edit</p>





        <details>
          <summary id="sure-home">Delete</summary>
          <p>no</p>
          <form
            action="/posts/<%=post._id; %>?_method=DELETE"
            method="POST"
          >
            <input type="submit" value="Yes" id="delete-btn" />
          </form>
        </details>
      </details>
      <br />
      <img src="<%=post.img%> " alt="" class="home-images" />
      <br />
      <nav class="imagenav-home">
        <form action="/posts/<%=post._id%>/like" method="POST">
          <button type="submit" class="like-btn">
            <i
              class="fa-regular fa-heart liked-h"
              id="heartbtn"
            ></i>
          </button>
        </form>

        <i class="fa-regular fa-comment"></i>
        <i class="fa-regular fa-paper-plane"></i>
        <span id="bookmark-home">
          <i class="fa-regular fa-bookmark"></i>
        </span>
      </nav>

      <br />
      <div class="leftcontent-home">
        <h4 class="white-bg"><%=post.likes%> likes</h4>

        <p class="caption white-bg">
          <span class="user-home"><%=post.user%> </span>
           <span class="user-home"><%=post.caption%> </span>


<%- include('footer') -%>